DATA_MODE=mock

NOAA_ENABLED=false

COPERNICUS_ENABLED=false
COPERNICUSMARINE_SERVICE_USERNAME=
COPERNICUSMARINE_SERVICE_PASSWORD=

ACLED_ENABLED=false
ACLED_USERNAME=
ACLED_PASSWORD=

GFW_ENABLED=false
GFW_API_TOKEN=

PORT_DATA_MODE=static

ENVIRONMENT=development
LOG_LEVEL=INFO